// _dark.scss
body {
	@include theme-colors('dark');
}

:root.dark {
	--primary: #{$dark-primary};
	--background: #{$dark-background};
	--surface: #{$dark-surface};
	--secondary: #{$dark-secondary};
	--text: #{$dark-text};
	--muted-text: #{$dark-muted-text};
	--border: #{$dark-border};
	--accent: #{$dark-accent};
	--hover-primary: #{$dark-hover-primary};
	--hover-secondary: #{$dark-hover-secondary};
	--hover-accent: #{$dark-hover-accent};
}

