.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: $spacing-medium;
	padding-right: unset;
	background-color: transparent;
	z-index: 1001;
	display: block;


	.header-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.navigation-container {
			font-family: $font-primary;
			font-size: var(--title-font-size);
			font-weight: bold;
			width: fit-content;

			.logo {
				text-decoration: none;
				color: var(--text-color);

				&:hover {
					color: var(--accent);
				}
			}
		}

		.top-navigation {
			display: flex;

			.nav-list {
				display: flex;
				justify-content: flex-end;
				list-style: none;
				padding: 15px 0;
				margin: 0 30px;
				color: $dark-text;
				opacity: 1;

				.nav-item {
					margin-left: $spacing-large;

					.nav-link {
						text-decoration: none;
						color: var(--text-color);
						font-size: 1.5rem;
						font-weight: bold;
						transition: color 0.3s ease;
						text-transform: none;
						border: none;
						background: transparent;
						cursor: pointer;
						display: flex;
						align-items: center;
						gap: $spacing-small;

						&:hover {
							color: var(--accent);
						}

						&:focus,
						&:active {
							outline: none;
							background: transparent;
						}
					}

					&.user-section {
						position: relative;

						.user-menu {
							display: none;
							position: absolute;
							top: 100%;
							right: 0;
							background-color: transparent; // Transparent background for the menu
							padding: $spacing-small 0; // Add padding to create spacing around `li`
							z-index: 1001;
							width: 100%; // Match width of user link

							ul {
								list-style: none;
								padding: 0;
								margin: 0;

								li {
									background-color: var(--background-primary-opacity-2); // Background for each item
									margin-bottom: $spacing-small; // Add empty space between items
									// padding: $spacing-small;
									transition: color 0.3s ease, background-color 0.3s ease;
									text-align: right;

									&:last-child {
										margin-bottom: 0; // Remove margin from last item
									}

									button {
										background: none;
										border: none;
										font-size: 1.3rem; // Larger font size
										font-weight: 700;
										color: var(--text-color-primary);
										width: 100%; // Ensure button spans full width
										cursor: pointer;
										padding: $spacing-small;
										border-bottom: 1px solid var(--background-primary-opacity-2);
										transition: color 0.3s ease, border-bottom 0.3s ease;

										&:hover {
											color: var(--accent);
											border-bottom: 1px solid var(--accent); // Add border-bottom effect
										}
									}
								}
							}
						}

						&:hover .user-menu {
							display: block;
						}
					}
				}
			}
		}
	}
}
