.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: $spacing-medium;
	padding-right: unset;
	background-color: transparent;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;

	.header-content {
		display: flex;
		justify-content: space-between; // Ensures elements are pushed to the extremities
		align-items: center;
		width: 100%; // Make sure it spans the full width of the header
		// padding: 0 $spacing-medium; // Add horizontal padding to the left and right

		.navigation-container {
			font-family: $font-primary;
			font-size: var(--title-font-size);
			font-weight: bold;
			width: fit-content;

			.logo {
				text-decoration: none;
				color: var(--text-color);

				&:hover {
					color: var(--accent);
				}
			}
		}

		.top-navigation {
			display: flex;
			.nav-list {
				display: flex;
				justify-content: flex-end; // Pushes navigation items to the right
				list-style: none;
				padding: 15px 0;
				margin: 0 30px;

				.nav-item {
					margin-left: $spacing-large;

					.nav-link {
						text-decoration: none;
						color: var(--text-color); // Use the correct text color variable
						font-size: 1.5rem; // Larger font size for accessibility
						font-weight: bold;
						transition: color 0.3s ease;
						text-transform: uppercase;
						border: none;
						background: transparent; // Remove any background color from buttons
						cursor: pointer;
					
						&:hover {
						  color: var(--accent); // Use the correct accent color variable for hover
						}
					
						&:focus,
						&:active {
						  outline: none;
						  background: transparent; // Ensure transparency on focus and active states
						}
					}
				}
			}
		}
	}
}
