.home-page {
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	background-size: cover;
	background-position: center;
	color: var(--text-color-primary); // Use the correct text color variable
  
	.left-section {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  position: relative;
	  max-width: 100%;
	  z-index: 2;
	  margin-bottom: 6rem;
  
	  .title-container {
		float: left;
		clear: left;
		max-width: 100%;
		margin-bottom: 2rem;
		padding: var(--title-container-padding); 
		background-color: var(--surface-primary); 
		opacity: 0.8;
		border: var(--border-on-light);
		border-left: none;
  
		.line {
		  display: block;
		  width: max-content;
		  text-align: left;
		  font-size: var(--title-font-size); 
		  color: var(--text-color-primary); 
  
		  .subline {
			font-weight: bold;
			font-size: var(--subline-font-size); 
		  }
		}
	  }
  
	  .subtitle-line {
		float: left;
		clear: left;
		margin-bottom: 0;
		padding: var(--title-container-padding); 
		background-color: var(--surface-secondary); 
		color: var(--text-color-secondary); 
		font-size: var(--subtitle-font-size); 
		opacity: 0.8;
		border: var(--border-on-dark);
		border-left: none;
	  }
  
	  .action-links-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 6rem;
		opacity: 0.8;
		color: var(--text-color-secondary);

		.theme-icon {
			color: var(--accent); // Use the text color variable for the theme
			vertical-align: middle; // Align the icon vertically to the middle
			position: relative;
			bottom: 0.1rem;
		  }

		.action-links-box {
		  background-color: var(--surface-secondary);
		  border: var(--border-on-dark);
		  border-left: none;
		}
  
		.action-links-mail {
		  margin-left: 18rem;
		}
  
		.about-link {
		  float: left;
		  clear: left;
		  display: inline-block;
		  margin: 0;
		  background-color: var(--surface-secondary); // Use the surface color variable
		  color: var(--text-color); // Use the text color variable
		  font-size: var(--link-font-size); // Use the link font size variable
		  text-decoration: none;
		  cursor: pointer;
		  border: none;
		  opacity: 0.8;
  
		  &:hover {
			color: var(--accent); // Use the accent color variable for hover
		  }
  
		  .my-icon {
			margin-right: 1.2rem;
		  }
		}
  
		.email-link {
		  color: var(--text-color); // Use the text color variable
		  text-decoration: underline;
		  cursor: pointer;
		  opacity: 0.8;
  
		  &:hover {
			color: var(--accent); // Use the accent color variable for hover
		  }
		}
	  }
	}
  }
  