@media (min-width: 380px) {
  .line {
    --title-font-size: 2rem;
    font-size: var(--title-font-size);
  }
  .line .subline {
    --subline-font-size: 3rem;
    font-size: var(--subline-font-size);
  }
  .subtitle-line {
    --subtitle-font-size: 1.3rem;
    font-size: var(--subtitle-font-size);
  }
  .about-link {
    --link-font-size: 1.3rem;
    font-size: var(--link-font-size);
  }
  .title-container,
  .subtitle-line,
  .about-link {
    --title-container-padding: 0.6rem 1.4rem;
    padding: var(--title-container-padding);
  }
  .left-section, .title-container, .subtitle-line, .action-links-box {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .line {
    --title-font-size: 2rem;
    font-size: var(--title-font-size);
  }
  .line .subline {
    --subline-font-size: 3rem;
    font-size: var(--subline-font-size);
  }
  .subtitle-line {
    --subtitle-font-size: 1.4rem;
    font-size: var(--subtitle-font-size);
  }
  .about-link {
    --link-font-size: 1.4rem;
    font-size: var(--link-font-size);
  }
  .title-container,
  .subtitle-line,
  .about-link {
    --title-container-padding: 0.6rem 1.4rem;
    padding: var(--title-container-padding);
  }
  .left-section, .title-container, .subtitle-line, .action-links-box {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .line {
    --title-font-size: 3rem;
    font-size: var(--title-font-size);
  }
  .line .subline {
    --subline-font-size: 4rem;
    font-size: var(--subline-font-size);
  }
  .subtitle-line {
    --subtitle-font-size: 1.6rem;
    font-size: var(--subtitle-font-size);
  }
  .about-link {
    --link-font-size: 1.6rem;
    font-size: var(--link-font-size);
  }
  .title-container,
  .subtitle-line,
  .about-link {
    --title-container-padding: 0.6rem 4rem 0.6rem 8rem;
    padding: var(--title-container-padding);
  }
  .left-section, .title-container, .subtitle-line, .action-links-box {
    width: unset;
  }
}
@media (min-width: 1440px) {
  .line {
    --title-font-size: 4rem;
    font-size: var(--title-font-size);
  }
  .line .subline {
    --subline-font-size: 5rem;
    font-size: var(--subline-font-size);
  }
  .subtitle-line {
    --subtitle-font-size: 1.8rem;
    font-size: var(--subtitle-font-size);
  }
  .about-link {
    --link-font-size: 1.8rem;
    font-size: var(--link-font-size);
  }
  .title-container,
  .subtitle-line,
  .about-link {
    --title-container-padding: 0.8rem 4rem 0.8rem 12rem;
    padding: var(--title-container-padding);
  }
  .left-section, .title-container, .subtitle-line, .action-links-box {
    width: unset;
  }
}
@media (min-width: 1920px) {
  .line {
    --title-font-size: 5rem;
    font-size: var(--title-font-size);
  }
  .line .subline {
    --subline-font-size: 7rem;
    font-size: var(--subline-font-size);
  }
  .subtitle-line {
    --subtitle-font-size: 2rem;
    font-size: var(--subtitle-font-size);
  }
  .about-link {
    --link-font-size: 2rem;
    font-size: var(--link-font-size);
  }
  .title-container,
  .subtitle-line,
  .about-link {
    --title-container-padding: 0.8rem 4rem 0.8rem 18rem;
    padding: var(--title-container-padding);
  }
  .left-section, .title-container, .subtitle-line, .action-links-box {
    width: unset;
  }
}
.button-primary {
  background-color: var(--primary);
  color: var(--text);
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-primary:hover {
  background-color: var(--hover-primary);
}

.button-secondary {
  background-color: --secondary;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-secondary:hover {
  background-color: var(--hover-primary);
}

.button-outlined {
  background-color: transparent;
  color: --primary;
  border: 1px solid --primary;
}

.heading {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.body-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.small-text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}

.light {
  --background-primary: #ffffff;
  --background-secondary: #0d0d0d;
  --surface-primary: #f5f5f5;
  --surface-secondary: #1a1a1a;
  --text-color-primary: #404040;
  --text-color-secondary: #d9d9d9;
  --muted-text: #737373;
  --border: #ff91a4;
  --accent: #ff91a4;
  --hover-primary: #ff91a4;
  --border-on-dark: 1px solid var(--border);
  --border-on-light: none;
}

.dark {
  --background-primary: #0d0d0d;
  --background-secondary: #ffffff;
  --surface-primary: #1a1a1a;
  --surface-secondary: #f5f5f5;
  --text-color-primary: #d9d9d9;
  --text-color-secondary: #404040;
  --muted-text: #737373;
  --border: #29c7d9;
  --accent: #29c7d9;
  --hover-primary: #29c7d9;
  --border-on-dark: none;
  --border-on-light: 1px solid var(--border);
}

.home-page {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  color: var(--text-color-primary);
}
.home-page .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 100%;
  z-index: 2;
  margin-bottom: 6rem;
}
.home-page .left-section .title-container {
  float: left;
  clear: left;
  max-width: 100%;
  margin-bottom: 2rem;
  padding: var(--title-container-padding);
  background-color: var(--surface-primary);
  opacity: 0.8;
  border: var(--border-on-light);
  border-left: none;
}
.home-page .left-section .title-container .line {
  display: block;
  width: max-content;
  text-align: left;
  font-size: var(--title-font-size);
  color: var(--text-color-primary);
}
.home-page .left-section .title-container .line .subline {
  font-weight: bold;
  font-size: var(--subline-font-size);
}
.home-page .left-section .subtitle-line {
  float: left;
  clear: left;
  margin-bottom: 0;
  padding: var(--title-container-padding);
  background-color: var(--surface-secondary);
  color: var(--text-color-secondary);
  font-size: var(--subtitle-font-size);
  opacity: 0.8;
  border: var(--border-on-dark);
  border-left: none;
}
.home-page .left-section .action-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6rem;
  opacity: 0.8;
  color: var(--text-color-secondary);
}
.home-page .left-section .action-links-container .theme-icon {
  color: var(--accent);
  vertical-align: middle;
  position: relative;
  bottom: 0.1rem;
}
.home-page .left-section .action-links-container .action-links-box {
  background-color: var(--surface-secondary);
  border: var(--border-on-dark);
  border-left: none;
}
.home-page .left-section .action-links-container .action-links-mail {
  margin-left: 18rem;
}
.home-page .left-section .action-links-container .about-link {
  float: left;
  clear: left;
  display: inline-block;
  margin: 0;
  background-color: var(--surface-secondary);
  color: var(--text-color);
  font-size: var(--link-font-size);
  text-decoration: none;
  cursor: pointer;
  border: none;
  opacity: 0.8;
}
.home-page .left-section .action-links-container .about-link:hover {
  color: var(--accent);
}
.home-page .left-section .action-links-container .about-link .my-icon {
  margin-right: 1.2rem;
}
.home-page .left-section .action-links-container .email-link {
  color: var(--text-color);
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.8;
}
.home-page .left-section .action-links-container .email-link:hover {
  color: var(--accent);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: transparent !important;
  color: var(--text-color);
  z-index: 1000;
  opacity: 0.7;
}
.header .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  align-items: center;
  background-color: var(--surface-secondary);
  color: var(--text-color-secondary);
  padding: 10px;
}
.header .nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.3s ease;
  text-transform: uppercase;
  border: none;
  background: transparent;
  cursor: pointer;
}
.header .nav-link:hover {
  color: var(--accent);
}
.header .nav-link:focus, .header .nav-link:active {
  outline: none;
  background: transparent;
}

/*# sourceMappingURL=main.css.map */
