h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0 0 15px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: var(--hover-text-color);
}

.main-heading {
  font-family: "operetta-52", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 120px;
  margin-bottom: 10px;
  line-height: 1.2;
  background: linear-gradient(to bottom, #059fc5, #0ac4ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-heading .line-1 {
  display: block;
}
.main-heading .line-2 {
  display: block;
}

.subtitle {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "anzeigen-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  background-color: var(--link-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.about-button {
  padding: 15px 40px;
  border: 4px solid var(--accent-color);
  background-color: transparent;
  border-radius: 30px;
  color: var(--text-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.about-button:hover {
  background-color: var(--accent-color-transparent);
  border: 4px solid var(--accent-color-transparent);
  color: #fff;
}
.about-button:focus {
  outline: none;
}

:root.light {
  --background-color: #F0EDEE;
  --text-color: #0E1214;
  --header-bg: lighten(#205D77, 30%);
  --header-text: #0E1214;
  --sidebar-bg: lighten(#742626, 30%);
  --sidebar-text: #0E1214;
  --link-color: lighten(#205D77, 30%);
  --hover-background-color: #b0acac;
  --hover-text-color: #0E1214;
  --accent-color: #205D77;
  --accent-color-transparent: rgba(32, 93, 119, 0.6);
  --secondary-accent-color: #742626;
  --secondary-accent-color-transparent: rgba(116, 38, 38, 0.6);
}

:root.dark {
  --background-color: #0E1214;
  --text-color: #F0EDEE;
  --header-bg: #205D77;
  --header-text: #F0EDEE;
  --sidebar-bg: #742626;
  --sidebar-text: #F0EDEE;
  --link-color: #205D77;
  --hover-background-color: #474040;
  --hover-text-color: #F0EDEE;
  --accent-color: #205D77;
  --accent-color-transparent: rgba(32, 93, 119, 0.6);
  --secondary-accent-color: #742626;
  --secondary-accent-color-transparent: rgba(116, 38, 38, 0.6);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 35px 0;
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

/* Apply consistent styling for nav-link and button elements */
.nav-link, button {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
  text-transform: uppercase;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* Remove background on click for buttons */
}
.nav-link:hover, button:hover {
  color: var(--accent-color);
}
.nav-link:focus, .nav-link:active, button:focus, button:active {
  outline: none;
  background: none;
}

.home-page {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  color: var(--text-color);
}
.home-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 29, 124, 0.1);
  z-index: 1;
}
.home-page .left-section {
  width: 50%;
  padding-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-bottom: 100px;
}
.home-page .left-section .action-buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}
.home-page .left-section .email-link {
  font-size: 28px;
  color: var(--text-color);
  text-decoration: underline;
  cursor: pointer;
}
.home-page .left-section .email-link:hover {
  color: var(--accent-color);
}

/*# sourceMappingURL=main.css.map */
