// _mixins.scss
@mixin button-styles($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-speed), color var(--transition-speed);

    &:hover {
        background-color: lighten($bg-color, 10%);
    }
}

@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}