// src/styles/layout/_header.scss

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 35px 0;
	display: flex;
	justify-content: center;
  }
  
  .navigation {
	display: flex;
	justify-content: center;
	align-items: center;  // Vertically center all navigation items
  }
  
  .nav-list {
	list-style: none;
	display: flex;
	gap: 30px;  // Space between navigation items
	padding: 0;
	margin: 0;
  }
  
  /* Apply consistent styling for nav-link and button elements */
  .nav-link, button {
	text-decoration: none;
	color: #ffffff;  // White text for both buttons and links
	font-size: 18px;
	font-weight: bold;
	transition: color 0.3s;
	text-transform: uppercase;
	border: none;  // Remove borders from buttons
	background: none;  // Remove default button background
	cursor: pointer;  // Show pointer on hover for buttons
  
	display: flex;
	align-items: center;  // Vertically center both links and buttons
  
	&:hover {
	  color: var(--accent-color);  // Hover color for both links and buttons
	}
  
	/* Remove background on click for buttons */
	&:focus,
	&:active {
	  outline: none;  // Remove focus outline
	  background: none;  // Remove background color on click
	}
  }
  