
/**
 * FeatureFlagsWidget.scss
 * features\admin\FeatureFlagsWidget.scss
 */

.feature-flags-widget {
    display: flex;
    flex-direction: column;
    align-items: center;

    .flag {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        width: 800px;

        button {
            margin-left: 10px;
        }
    }
}