.feature-flags {
    h1 {
        color: #333;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 10px;

            input[type="checkbox"] {
                margin-right: 5px;
            }
        }
    }
}