// src/features/landing/LandingPage.scss
.landing-page {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	background: #282c34;
  
	.content {
	  z-index: 1; // Ensure content is above the particles
	}
  }
  