/* src/styles/App.scss */

.app-body {
	display: flex;
	flex-direction: row;
	height: 100vh;
  }
  
  .main-content {
	flex-grow: 1;
	padding: 20px;
	background-color: var(--background-color);
	color: var(--text-color);
  }
  