/* src/styles/App.scss */

body {
	margin: 0;
	padding: 0;
}

.app-body {
	position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .main-content {
	flex-grow: 1;
  }
  