/* src/components/layout/header/Header.scss */

.header {
    background-color: var(--header-bg);
    color: var(--header-text);

    .nav-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 30px;
    }

    .nav-item {
        margin: 0;
        padding-right: 30px;

        .nav-link,
        button {
            padding: 0;
            margin: 0;
            background: none;
            border: none;
            color: var(--header-text);
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: var(--header-text);
                text-decoration: underline;
            }

            &:focus {
                outline: none;
            }
        }
    }
}
