/**
 * ToggleSwitch.scss
 * components\common\input\toggle\ToggleSwitch.scss
 */

.toggle-switch {
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 17px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;

  .toggle-knob {
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.3s, right 0.3s;

    // Animation for the knob to move to the right
  }

  &.enabled {
    background-color: #4caf50;

    .toggle-knob {
      left: 30px; // Move knob to the right when enabled
    }
  }
}
