.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: var(--sidebar-bg);
    color: var(--sidebar-text);
    width: 250px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    ul {
        list-style: none;
        padding: 0;
        width: 100%;

        li {
            margin: 10px 0;
            width: 100%;

            a {
                text-decoration: none;
                color: var(--sidebar-text);
                display: block;
                padding: 10px;
                width: 100%;
                transition: background-color 0.3s, color 0.3s;

                &:hover {
                    background-color: var(--hover-background-color);
                    color: var(--hover-text-color);
                }
            }
        }
    }
}